<div class="home">
  <v-container>
    <v-row>
      <v-col cols="4">
        <v-btn-toggle color="blue accent-3">
          <v-btn value="normal">
            <span class="hidden-sm-and-down">Normal</span>
          </v-btn>
          <v-btn value="favorite">
            <span class="hidden-sm-and-down">Favorite</span>
          </v-btn>
          <v-btn value="exclude">
            <span class="hidden-sm-and-down">Exclude</span>
          </v-btn>
        </v-btn-toggle>
      </v-col>
      <v-col
        ><v-text-field
          flat
          solo-inverted
          hide-details
          prepend-inner-icon="mdi-magnify"
          label="Search"
        ></v-text-field
      ></v-col>
      <v-col cols="1" class="text-right">
        <div class="pt-3">{{ items.length }} items</div>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      hide-default-footer
      @dblclick:row="rowDbClick"
    >
      <template v-slot:item.isPlaying="{ item }">
        <v-icon v-show="item.isPlaying">mdi-play-circle-outline</v-icon>
      </template>
      <template v-slot:item.isFavorite="{ item }">
        <v-icon v-show="item.isFavorite">mdi-star</v-icon>
      </template>
      <template v-slot:item.isPlayed="{ item }">
        <v-icon v-show="item.isPlayed">mdi-check-outline</v-icon>
      </template>
    </v-data-table>
  </v-container>
</div>
