<div class="home">
  <v-row>
    <v-col cols="4">
      <v-btn-toggle v-model="selectionRatingMode" color="blue accent-3">
        <v-btn>
          <span class="hidden-sm-and-down">Normal</span>
        </v-btn>
        <v-btn>
          <span class="hidden-sm-and-down">Favorite</span>
        </v-btn>
        <v-btn>
          <span class="hidden-sm-and-down">Exclude</span>
        </v-btn>
      </v-btn-toggle>
    </v-col>
    <v-col
      ><v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
      ></v-text-field
    ></v-col>
    <v-col cols="1" class="text-right">
      <div class="pt-3">{{ items.length }} items</div>
    </v-col>
  </v-row>
  <v-data-table
    height="340"
    :headers="headers"
    :items="items"
    item-key="id"
    :items-per-page="items.length"
    :item-class= "rowClasses"
    hide-default-footer
    style="user-select: none;"
    single-select
    @click:row="rowClick"
    @dblclick:row="rowDbClick"
  >
    <template v-slot:item.title="{ item }">
      <div class="caption" style="color:lightslategray">
        {{ item.groupName }}
      </div>
      <div>{{ item.title }}</div>
    </template>
    <template v-slot:item.isPlaying="{ item }">
      <v-icon v-show="item.isPlaying">mdi-play-circle-outline</v-icon>
    </template>
    <template v-slot:item.rating="{ item }">
      <v-icon v-show="item.isFavorite">mdi-star</v-icon>
      <v-icon v-show="!item.isFavorite">mdi-star-outline</v-icon>
    </template>
    <template v-slot:item.isPlayed="{ item }">
      <v-icon v-show="item.isPlayed">mdi-check-outline</v-icon>
    </template>
  </v-data-table>
  <v-snackbar v-model="showSnackbar" bottom color="success">
    スクリーンショットを保存しました。
    <!--
      <template v-slot:action="{ attrs }">
        <v-btn
          dark
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    -->
  </v-snackbar>
</div>
