<div>
  <v-row>
    <v-col cols="2">
      <!--
      <v-btn-toggle v-model="selectionRatingMode" color="blue accent-3">
        <v-btn>
          <span class="hidden-sm-and-down">Normal</span>
        </v-btn>
        <v-btn>
          <span class="hidden-sm-and-down">Favorite</span>
        </v-btn>
        <v-btn>
          <span class="hidden-sm-and-down">Exclude</span>
        </v-btn>
      </v-btn-toggle>
    -->
      <v-switch
        v-model="isOnlyFavorite"
        label="Only Favorite"
      ></v-switch>
    </v-col>
    <v-col
      ><v-text-field
        flat
        hide-details
        clearable
        prepend-inner-icon="mdi-magnify"
        v-model ="searchKeyword"
      ></v-text-field
    ></v-col>
    <v-col cols="2" class="text-right">
      <div class="pt-3">{{ items.length }} items</div>
    </v-col>
  </v-row>
  <v-data-table
    fixed-header
    height="360"
    :headers="headers"
    :items="items"
    item-key="id"
    :items-per-page="items.length"
    :item-class= "rowClasses"
    hide-default-footer
    style="user-select: none;"
    single-select
    @click:row="rowClick"
    @dblclick:row="rowDbClick"
    @contextmenu:row="onRowContextmenu"
    ref="gridItemList"
  >
    <template v-slot:item.title="{ item }">
      <div class="caption" style="color:lightslategray">
        {{ item.groupName }}
      </div>
      <div>{{ item.title }}</div>
    </template>
    <template v-slot:item.isPlaying="{ item }">
      <v-icon color="indigo accent-3" v-show="item.isPlaying">mdi-play-circle-outline</v-icon>
    </template>
    <template v-slot:item.rating="{ item }">
      <v-icon color="orange darken-1" @click="switchRating(item)" v-show="item.isFavorite">mdi-star</v-icon>
      <v-icon color="grey lighten-1" @click="switchRating(item)" v-show="!item.isFavorite">mdi-star-outline</v-icon>
    </template>
    <template v-slot:item.isPlayed="{ item }">
      <v-icon v-show="item.isPlayed" @click="switchPlayed(item)" color="light-green darken-1">mdi-check-bold</v-icon>
      <v-icon v-show="!item.isPlayed" @click="switchPlayed(item)" color="grey lighten-2">mdi-check-outline</v-icon>
    </template>
  </v-data-table>
  <v-snackbar v-model="isShowSnackbar" bottom :color="snackbarMessageLevel" timeout="1000">
    {{ snackbarMessage }}
    <!--
      <template v-slot:action="{ attrs }">
        <v-btn
          dark
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    -->
  </v-snackbar>
  <v-menu
      v-model="isShowMenu"
      :position-x="menuX"
      :position-y="menuY"
      absolute
      offset-y
    >
    <v-list dense>
      <v-list-item
        v-for="item in contextMenuDataPlayLists"
        :key="item.label"
        @click="onContextMenuClick(item.action)"
      >
        <v-list-item-title style="font-size: small;">{{ item.label }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
  <v-dialog
    v-model="isShowDeleteLibraryDialog"
    persistent 
    max-width="650"
  >
    <v-card class="pt-3">
      <v-card-title class="pa-3">Question?</v-card-title>
      <v-card-text class="pt-3">
        {{ deleteSelectItems.length > 0 ? deleteSelectItems[0].title: "" }} を削除します。よろしいですか？
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green darken-1"
          text
          @click="isShowDeleteLibraryDialog = false;isShowDeleteFileDialog = true"
        >
          yes(with file)
        </v-btn>

        <v-btn
          color="green darken-1"
          text
          @click="isShowDeleteLibraryDialog = false;deleteLibrary(false)"
        >
          yes only library
        </v-btn>

        <v-btn
          color="green darken-1"
          text
          @click="isShowDeleteLibraryDialog = false"
        >
          no
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog
    v-model="isShowDeleteFileDialog"
    persistent 
    max-width="650"
  >
    <v-card class="pt-3">
      <v-card-title class="pa-3">Question?</v-card-title>
      <v-card-text class="pt-3">
        ファイルも削除します。よろしいですか？
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green darken-1"
          text
          @click="isShowDeleteFileDialog = false;deleteLibrary(true)"
        >
          yes
        </v-btn>

        <v-btn
          color="green darken-1"
          text
          @click="isShowDeleteFileDialog = false"
        >
          no
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
